<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить велосипед</title>
    {% import "macros.html" as macros %}
</head>
<body>

<div class=block>
    <form action="{{ url_for('index') }}" method="post">
        <p>
            <label>
                Год производства:
                <input type="date" name="date_issue_add" required>
                Название модели:
                {{macros.render_form_add(model_names,len)}}
            </label>
        </p>
        <p>
            <input type="submit" value="Добавить велосипед">
            <input type="button" onclick="window.location='{{url_for('index')}}'" value="Отменить">
        </p>
    </form>
</div>
</body>
</html>